html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    padding: 0 20px;
    margin-top: 48px;
}

/* Navigatiebalk */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-nav {
    position: fixed;
    top: 48px;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: auto;
    background-color: rgb(85, 107, 47, 0.99);
    display: none;
    padding-bottom: 30px;
}

.auto-margin {margin: auto;}

.homepage-link {
    text-decoration: none;
    align-self: center;
    padding: 14px 16px;
    font-size: 17px;
}

.mobile-nav a {
    color: white;
    padding-top: 10px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size: 17px;
}

.topnav a.icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {color: palevioletred;}

.active {color: white;}

.flex-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 650px) {
    .desktop-links {
        display: none;
    }

    .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media screen and (min-width: 650px) {
    .desktop-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 16px;
    }
    
    .desktop-links a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
    padding: 14px 16px;
}
}



/* Footer */
footer {
    color: white;
    background-color: darkolivegreen;
    padding: 1em;
    text-align: center;
    margin-top: 40px;
}

/* Tekstopmaak */
h1 {
    color: darkgreen
}

h2 {
    color: darkolivegreen
}

h3 {
    color: rgb(45, 66, 12)
}



/* Flex & Grid containers */
.grid-container {
    display: grid;
    max-width: 1200px;
    max-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    gap: 50px;
    margin: 0 auto;
    padding: 1rem;
}

/* Flex & Grid items */
.grid-item {
    background-color: darkolivegreen;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    display: grid;
    grid-template-rows: 150px auto auto;

}

.flex-item:hover,
.grid-item:hover {
    transform: scale(1.05);
}

.flex-item img,
.grid-item img {
    width: 100%;
    height: 100%;
    background-color: white;
    object-fit: contain;
    display: block;
}

@media screen and (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* Project titel + link */
.project-title {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.project-title a:link,
.project-title a:visited {
    color: white;
    text-decoration: none;
}

.project-title a:hover {
    color: lightcoral;
}

.project-title a:active {
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.beschrijving_project {
    color: white;
    font-size: 15px;
    text-decoration: none;
    margin-top: 1px;
}

/* Contactformulier in contact.html */
.ul {
    list-style-type: none;
    padding: 0;
}

.li {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
    margin: 10px 0;
}

input[type=text],
input[type=email] {
    border-color: 1px solid blue;
    border-radius: 6px;
    padding: 6px;
    margin: 4px 2px;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: red;
}