<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portfolio Marije Vellinga{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon.png')}}">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Top navigatie menu -->
    <div class="topnav">
        <a class="homepage-link" href="{{url_for('main')}}">Portfolio Marije Vellinga</a>

        <div class="auto-margin"></div>

        <!-- Navigation Links (hidden by default) -->
        <div class="desktop-links">
            <a class="flex-item" href="{{url_for ('myprojects')}}">Projects</a>
            <a class="flex-item" href="{{url_for('aboutme')}}">About</a>
            <a class="flex-item" href="{{url_for('contact')}}">Contact</a>
            <a class="flex-item" href="{{url_for ('week3')}}">Week3</a>
        </div>

        <!-- Hamburger menu -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>

    <div class="mobile-nav">
        <div class="flex-vertical">
            <a href="{{url_for ('myprojects')}}">Projects</a>
            <a href="{{url_for('aboutme')}}">About</a>
            <a href="{{url_for('contact')}}">Contact</a>
            <a href="{{url_for ('week3')}}">Week3</a>
        </div>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 Marije Vellinga&trade;</p>
    </footer>

    <script src="{{url_for('static', filename='js/hamburger.js')}}"></script>
</body>

</html>