{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}

  <div class="jumbotron text-center">
    <h1>Learn more about me</h1>
    <p>Thank you for visiting this page. That tells me I have peaked your interest.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>My background</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4">
        <h3>Work experience</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
      <div class="col-sm-4">
        <h3>My goals for the future</h3>
        <p>Lorem ipsum dolor..</p>
      </div>
    </div>
  </div>

{% endblock %}